{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Acceuil</a></li>
                <li>Les Actualités</li>
            </ol>
            <h2>Les Actualités</h2>

        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container" data-aos="fade-up">
            <p>
                Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> es Actualités
                <br> Les Actualités <br> Les Actualités <br> Lees Actualités <br> Les Actualités <br> Les Actualités <br> Lees Actualités <br> Les Actualités <br> Les Actualités <br> Le
            </p>
        </div>
    </section>


</main>
<!-- End #main -->
{% endblock %}