{% extends 'base.html.twig' %}

{% block title %} {{ title}} {% endblock %}


{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Acceuil</a></li>
                    <li>Documents</li>
                </ol>
                <h2>Documents</h2>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container" data-aos="fade-up">
                <p>
                    Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>
                    Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>
                    Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>

                </p>
            </div>
        </section>
    </main>
{% endblock %}