{% extends 'base.html.twig' %}

{% block title %} {{ title}} {% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Acceuil</a></li>
                <li>Emplois du temps</li>
            </ol>
            <h2>Emplois du temps</h2>

        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container" data-aos="fade-up">
            <p>
                Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du
                temps <br> Emplois du temps <br>

            </p>
        </div>
    </section>
</main>
{% endblock %}